.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  
  position: relative;
  width: 100%;
  height: 100%;
  
  aspect-ratio: 2/1;
}

.img {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}